@using ShoppingList.Models
@model List<product>

@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <link href="~/templates/list/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


</head>
<body>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert('@Html.Raw(TempData["ErrorMessage"])');
        </script>
    }
    <div class="text-center">
        <h1 class="display-4">@ViewBag.ListName</h1>
    </div>
    

    <div class="d-flex justify-content-center mt-5">
        <form class="form-group" method="post" action="/Product/ToggleShoppingStatus/@(ViewBag.listIdProductPage)">

            @if (ViewBag.Situation)
            {
                <button type="submit" class="btn btn-outline-warning">Alışveriş Tamamlandı</button>
            }
            else
            {
                <button type="submit" class="btn btn-success">Alışverişe Çıkıyorum</button>
            }

        </form>

    </div>

    <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" @if (ViewBag.Situation)
        {
            <text>disabled</text>
        }>Yeni Ürün</button>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ürün Ekle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <form class="form-group" method="post">
                                <label class="form-label required">Kategoriler</label>
                                <select name="category" id="selectedCategory" class="form-control" required>
                                    <option value="" disabled selected>Kategori Seçin</option>
                                    @foreach (var productsByCategory in ViewBag.ProductsByCategory as List<string>)
                                    {
                                        <option value="@productsByCategory">@productsByCategory</option>
                                    }
                                </select>
                                <br />

                                <label class="form-label required">Ürünler</label>
                                <select name="selectedProduct" id="selectedProduct" class="form-control" required>
                                    <option value="" disabled selected>Ürün Seçin</option>
                                </select>

                                <br />
                                <label class="form-label required">Ürün Açıklaması</label>
                                <input type="text" name="productDescription" class="form-control" required />
                                <br />
                                <button class="btn btn-info">Kaydet</button>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input id="searchInput" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Ürün Ara">
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <label class="form-label">Kategoriler</label>
                    <div class="input-group">
                        <select name="categoryFiltering" id="selectedFiltering" class="form-control" required>
                            <option value="" disabled selected>Kategori Filtreleme</option>
                            @foreach (var productsByCategory in ViewBag.ProductsByCategory as List<string>)
                            {
                                <option value="@productsByCategory">@productsByCategory</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="clearFilter" style="color:red;">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="wrap-all-the-things">
        <div class="card-body" id="out-of-title1">


            <table class="table table-striped">
                <thead>
                <th></th>
                <th>Ürün Görseli</th>
                <th>Ürün Adı</th>
                <th>Ürün Kategorisi</th>
                <th>Detaylar</th>
                <th>Aldım</th>


                </thead>
                <tbody>
                    @foreach (var ProductDetail in Model)
                    {

                        <tr>
                            <td>
                                <a href="/Product/ProductDelete/@(ProductDetail.productId)" class="btn btn-outline-danger @((ViewBag.Situation) ? "disabled-link" : "")">X</a>

                            </td>
                            <td><img src="@(ProductDetail.productUrl)" width="150" alt="Image"></td>
                            <td>@(ProductDetail.productName)</td>
                            <td>@(ProductDetail.productCategory)</td>
                            <td><a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal-@(ProductDetail.productId)">Detaylar</a></td>
                            <td>
                                <a href="/Product/ProductDelete/@(ProductDetail.productId)" class="btn btn-warning @((!ViewBag.Situation) ? "disabled-link" : "")">Aldım</a>
                                <span class="buy-status"></span>
                            </td>


                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal-@(ProductDetail.productId)">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Ürün Açıklaması</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body">
                                            <form class="form-group" method="post" action="/Product/ProductUpdate/@(ProductDetail.productId)">

                                                <label class="form-label required">Ürün Açıklaması</label>
                                                <input type="text" name="productDescriptionUpdate" class="form-control" value="@(ProductDetail.productDescription)" required />
                                                <br />
                                                <button type="submit" class="btn btn-info" @if (ViewBag.Situation)
                                                {
                                                    <text>disabled</text>
                                                }>Güncelle</button>

                                            </form>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal Et</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>





        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/templates/list/script.js"></script>
</body>

</html>

